@model SubCategory
@{
    ViewBag.Title = "UpdateSubCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
            Update Category
        </header>
        <div class="panel-body">
            <div class="alert-error text-error">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-error alert-block fade in">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="icon-remove"></i>
                        </button>
                        <h4>
                            <i class="icon-ok-sign"></i>
                            Error!
                        </h4>
                        <p>@TempData["message"]</p>
                    </div>
                }
            </div>
            <form method="post" role="form">
                <div class="form-group">
                    <label>ID</label>
                    @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control round-input" })
                    <label>SubCategoryName</label>
                    @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                    @Html.TextBoxFor(x => x.SubCategoryName, new { @class = "form-control round-input" })
                </div>
                <div class="form-group">
                    <label>CategoryName</label>
                    <select class="form-control round-input input-medium m-bot15" name="CategoryId">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.ID">@category.CategoryName</option>
                        }
                        <option selected value="@Model.Category.ID" disabled>@Model.Category.CategoryName</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>

        </div>
    </section>
</div>

