@model MVC_UI.Models.AppUserVM
@{
    ViewBag.Title = "Register";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <link href="~/Content/css/webfonts/uicons-solid-straight.css" rel="stylesheet" />


    <title>FlatLab - Flat &amp; Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">

    <div class="container">

        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">registration now</h2>
            <div class="login-wrap">
                <p>Enter your account details below </p>
                @Html.ValidationMessageFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "UserName" })

                @Html.ValidationMessageFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })

                @Html.ValidationMessageFor(x=> x.Password)
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })

                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-type Password" })
                <label class="checkbox">
                    <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

                <div class="registration">
                    Already Registered.
                    <a class="" href="/Login/login">
                        Login
                    </a>
                </div>

            </div>

        </form>

    </div>




</body>
