@model Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">

        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        @if (Model.ProductImagePath != null)
                        {
                            @*<img src="~/Content/image/product/@Model.ProductImagePath" alt="">*@
                            <img src="https://kapaklitaxi.com/wp-content/uploads/2019/05/ef3-placeholder-image.jpg" alt="">
                        }
                        else
                        {
                            <img src="https://kapaklitaxi.com/wp-content/uploads/2019/05/ef3-placeholder-image.jpg" alt="">

                        }
                    </div>
                    <div class="pro-img-list">
                        <a href="#">
                            <img src="~/Content/img/product-list/pro-thumb-1.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="~/Content/img/product-list/pro-thumb-2.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="~/Content/img/product-list/pro-thumb-3.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="~/Content/img/product-list/pro-thumb-1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                            @Model.ProductName
                        </a>
                    </h4>
                    <p>
                        @Model.Description
                    </p>
                    <div class="product_meta">
                        <span class="posted_in">
                            <strong>Categories:</strong>
                            <a rel="tag" href="#">@Model.SubCategory.SubCategoryName</a>
                        </span>
                    </div>
                    <div class="m-bot15"> <strong>Price : </strong><span class="pro-price"> @Model.UnitPrice.ToString("C2")</span></div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="quantiy" placeholder="1" class="form-control quantity">
                    </div>
                    <p>
                        <button class="btn btn-round btn-danger" type="button"><i class="icon-shopping-cart"></i> Sepete Ekle</button>
                    </p>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a data-toggle="tab" href="#description">
                            Description
                        </a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div id="description" class="tab-pane active">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <div id="reviews" class="tab-pane">
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="img/avatar-mini.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#" class="cmt-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                <p> <i class="icon-time"></i> 1 hours ago</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="img/avatar-mini2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#" class="cmt-head">Nulla vel metus scelerisque ante sollicitudin commodo</a>
                                <p> <i class="icon-time"></i> 23 mins ago</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left thumb p-thumb">
                                <img src="img/avatar-mini3.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#" class="cmt-head">Donec lacinia congue felis in faucibus. </a>
                                <p> <i class="icon-time"></i> 15 mins ago</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        @*@Html.Action("_SampleProduct", new { id = Model.SubCategoryId })*@
    </div>
</div>

